* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav,
footer,
menu,
div {
    display: block;
}

.flex-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.open {
    color: floralwhite;
    font-size: 20px;
    text-align: center;
}

.openöffnungszeiten {
    color: floralwhite;
    font-size: 20px;
    text-align: center;

}

.openführung {
    color: floralwhite;
    font-size: 20px;
    text-align: center;

}

.openStyle {
    background-color: rgb(19, 20, 20);
    padding: 20px;
    width: 100%;
}

.openStyleöffnungszeiten {
    background-color: rgb(19, 20, 20);
    padding: 70px;
    width: 100%;
    position: relative;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 90%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;

}


.links {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.navbar1 {
    background-color: rgb(63, 68, 68);
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;

}

.navbar-nav a:hover {
    color: red;
    text-indent: 1em;
}

.navbar2-nav {
    display: block;
    display: auto;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    transform: translate(22%, 0%);
}

.slider {
    width: 100%;
    height: 90vh;
    position: relative;
    left: 5px;

}

.content {
    width: 100%;
    height: 10vh;
    color:white;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 50%;
    top: 6%;
    transform: translate(-50%, -50%);
}

.contentöffnungszeiten {
    width: 100%;
    height: 10vh;
    position: absolute;
    left: 38%;
    top: 3%;
    transform: translate(-50%, -10%);
}

.principal {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    letter-spacing: 5px;
    text-align: center;
}

.footerrow {
    background-color: gray;
    padding: 15px;
    text-align: center;
}

.footerrowöffnungszeiten {
    background-color: gray;
    padding: 15px;
    width: 100%;
    position: relative;
    font-size: 20px;
    text-align: center;
    transform: translate(0%, 550%);
}

.footerrowverlinkung {

    background-color: rgb(19, 20, 20);

    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 300%);
    display: -ms-flexbox;
    display: flex;
    color: floralwhite;
    font-size: 20px;
    text-align: center;
    top: 100%;
  
}
.footerrowführung2 {

    background-color: rgb(19, 20, 20);

    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 400%);
    display: -ms-flexbox;
    display: flex;
    color: floralwhite;
    font-size: 20px;
    text-align: center;
    top: 50%;
  
}

.footerrowführung {
    background-color: gray;
    padding: 15px;
    width: 100%;
    position: relative;
    font-size: 20px;
    text-align: center;
    transform: translate(0%, 950%);
}

.footerrow-end {
    background-color: gray;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    font-size: 20px;
    text-align: center;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 50%);
}

.footerrowagb {
    background-color: gray;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    font-size: 20px;
    text-align: center;

    top: 93%;
    transform: translate(0%, 50%);
}


.description {
    margin: 80px;
    color: rgb(19, 20, 20);
}

.media1 {
    position: relative;
    left: 50%;
    transform: translate(-53%, -50%);
}

.facebook_twitter {
    text-align: center;
}

#facebook_twitter b {
    text-align: center;
    background-color: rgb(0, 0, 0);
    list-style: none;
    margin: 40px 30px;
    display: inline-block;
    font-size: 20px;
    padding: 20px 20px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: .5s;
}

#facebook_twitter b:hover {
    color: #190aeb;
    border: 1px solid #190aeb;
    transition: .5s;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-item1 {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-item {
    color: white;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
}

.imageStyle {
    margin-left: 50px;
}

.container-führung {
    padding: 2px;
    position: relative;
    left: 50%;
    top: 0%;
    font-size: 20px;
    text-align: center;
    transform: translate(-50%, 35%);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.flex-container-führung {
    padding: 2px;
    position: relative;
    top: 10%;
    font-size: 20px;
    text-align: center;
    transform: translate(0%, 100%);
}

.flex-container-führung1 {
    padding: 2px;
    position: relative;
    top: 10%;
    font-size: 20px;
    text-align: center;
    transform: translate(0%, 100%);
}

.flex-container-führung2 {
    padding: 2px;
    position: relative;
    top: 10%;
    font-size: 20px;
    text-align: center;
    transform: translate(0%, 90%);
    margin-left: auto;
    margin-right: auto;
}

.container-führung3 {
    transform: translate(0%, 15%);
}

.image-führung {
    width: 100%;
    height: 90vh;
    left: 5px;
    transform: translate(0%, 10%);
}

.dropdown-item-führung {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
}
.one {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay2 {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
}
.email-button{
    top:94%;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}

.middle {
    position: relative;
    width: 100%;
    height: 100%;
    top: -100%;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
}

.two {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 500px;
    height: 600px;
    background:transparent;
}
