* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	margin:0;
	padding:0;
	width:100%;
	color:white;
	font:normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;
	background:#090909 url(../img/main_bg.gif) repeat left top;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
    padding:0;
}
.header_resize {
	margin:0 auto;
	padding:0 0 24px;
    width:962px;

}
html, .main {
	padding:0;
	margin:0;
}
.main {
	background:no-repeat center top;
}

.menu_nav {
    width: 80%;
	margin:0;
	padding:18px 0 0;
	height:50px;
    float:right;

}
.menu_nav ul {
    list-style:none;
	padding:0 12px;
	height:60px;
	float:left;
	background:url(../img/menu.gif) repeat-x left top;
}
.menu_nav ul li {
	margin:0;
	padding:0 2px 0 0;
	float:left;

}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:17px 10px 0;
	height:77px;
	font-size:15px;
	line-height:18px;
	font-weight:normal;
	color:wheat;
	text-transform:uppercase;
    text-align:center;
    border-radius: 3px;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {

	color:white;
	background:url(../img/menu_a.gif) repeat-x left top;
}


.cs-buttons a.cs-active {
	color:white;
}
.cs-buttons {
	display:none;
	margin:8px 0 0;
	padding:0;
	font-size:0;
	float:left;
}
.cs-buttons a {
	margin:0 2px;
	width:20px;
	height:20px;
	float:left;
	color:wheat;
	text-indent:-10000px;
	background:no-repeat center center;
}

.coin-slider {
	padding:0;
	overflow:hidden;
	zoom:1;
	position:relative;
	float:right;
}

.logo {
	padding:0;
	float:none;
    float:left;
    margin-left: -27%;
	height:90px;
}
.slider {
	margin:0 -270px;
    padding:0;

}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}
.article a.com span {
	font-weight:bold;
	color:wheat;
}
h1 {
	margin:0;
	padding:18px 0 0;
	font-size:45px;
	font-weight:bold;
	line-height:1.2em;
	text-transform:none;
	letter-spacing:2px;
}


h1 a, h1 a:hover {
	color:wheat;
	text-decoration:none;
}
h1 small {
	display:block;
	margin-left: 0;
	font-size:12px;
	line-height:1.2em;
	letter-spacing:normal;
	text-transform:none;
    color:white;

}
h1 span {
    color: white;
}
h2 {
	margin:8px 0;
	padding:8px 0;
	font-size:26px;
	font-weight:normal;
	line-height:1.2em;
	color:wheat;
	text-transform:none;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
}
a {
	color:wheat;
	text-decoration:underline;
}



.content p.pages span, .content p.pages a {
	display:block;
	float:left;
	margin:0 2px 0 0;
	padding:7px 0;
	width:30px;
	text-decoration:none;
	text-align:center;
	background:no-repeat center center;
}
.content p.pages span, .content p.pages a:hover {
	color:wheat;
	background:#235288;
}
.content .mainbar {
	margin:0;
	padding:0;
	float:right;
	width:660px;
}
.content .mainbar h2 {
	margin-bottom:0;
	padding:6px 12px;
	background:url(../img/h2.gif) repeat-x left top;
}
.content .mainbar div.img {
	padding:12px 0;
	float:left;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.content .mainbar img.fl {
	margin:0;
	border:none;
}
.content .mainbar .article {
	margin:0 0 8px;
	padding:6px 20px;
}
.content .mainbar .post_content {
	float:right;
	width:420px;
}
.content .mainbar .post_content strong {
	color:darkblue;;
}
.content_resize {
	margin:0 auto;
	padding:24px 0 40px;
	width:960px;
}
.content .sidebar {
	padding:0;
	float:left;
    width:280px;
    position: absolute;
    left: 0;
    nav-down: auto;
    bottom: -75%;
}
.content .sidebar .gadget {
	margin:0 0 12px 20px;
	padding:6px 0 24px;
}
.content .sidebar h2 {
	padding:0px 20px;
	background:url(../img/h2.gif) repeat-x left top;
}

a {
	outline:none;
}

ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0;
	list-style:none;
	color:wheat;
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
}
ul.sb_menu li, ul.ex_menu li {
	padding:8px 0;
	width:220px;
	background:repeat-x left bottom;
}
ul.sb_menu li a {
	color:wheat;
	text-decoration:none;
	margin-left:0;
	padding:4px 8px 4px 0;
	background:no-repeat left center;
}
ul.ex_menu li a {
	font-weight:bold;
	color:wheat;
	text-decoration:none;
	background:no-repeat left center;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
	color:wheat;
	font-weight:bold;
	text-decoration:none;
}


.fbg img.gal {
	margin:0 8px 8px 0;
	padding:0;
	border:4px solid #1d1d1e;
}
.fbg .fbg_ul {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li a {
	display:block;
	margin:0;
	padding:2px 0 2px 12px;
	color:wheat;
	text-decoration:none;
	background:url(../img/li.gif) no-repeat left center;
}
.fbg .fbg_ul li a:hover {
	color:wheat;
	text-decoration:underline;
}


.rss {
	padding:18px 20px 0 0;
	float:right;
	width:auto;
}
.rss p {
	margin:0;
	padding:0;
	float:right;
	width:auto;
	color:wheat;
	font-size:13px;
	line-height:1.5em;
	font-weight:bold;
}
.rss a {
	color:wheat;
	text-decoration:none;
}
.rss a:hover {
	text-decoration:underline;
}
.rss img {
	margin:-3px 0 -3px 6px;
	border:none;
}



.footer {
	border-top:1px solid #151515;
}
.footer_resize {
	margin:0 auto;
	padding:0;
	width:920px;
	line-height:1.5em;
	color:wheat;
}
.footer_resize p {
	margin:32px 0;
	padding:0;
	line-height:normal;
	white-space:nowrap;
	text-indent:inherit;
}
.footer_resize a {
	color:wheat;
	font-weight:normal;
	margin:0;
	padding:0;
	border:none;
	text-decoration:underline;
	background-color:transparent;
}
.footer_resize a:hover {
	color:wheat;
	background-color:transparent;
	text-decoration:none;
}
.footer_resize .lf {
	float:left;
}
.footer_resize .rf {
	float:right;
}